# ! NÃO ignorar !
!README.md
!main.py
!*.py

# nomes de arquivos
rascunho*
teste*
test*

# extensões
*.class
*.md
*.code-workspace
*.zip

# diretorios
temp/
files/
outputs/
files/

# pastas
.vscode
.teste
.log

# videos
*.3g2
*.3gp
*.asf
*.asx
*.avi
*.flv
*.mkv
*.mov
*.mp4
*.mpg
*.ogv
*.rm
*.swf
*.vob
*.wmv
*.webm
